<div class="row mt-5 p-5">
    <div class="col-md-6 p-5 mb-4">
        <app-default-logo></app-default-logo>
    </div>

    <div class="col-md-6 p-5 bg-white">
        <h2 class="mb-4">Entre na sua conta</h2>
        <p>Ainda não tem uma conta? <a routerLink="/register">Cadastre-se</a> agora.</p>

        <form [formGroup]="userForm" class="mt-5">
            <fieldset>
                <div class="form-group mb-3">
                    <label class="mb-1" for="email">Endereço de e-mail</label>
                    <input class="form-control" id="email" name="email" type="email" formControlName="email" [class.is-invalid]="userForm.get('email')?.errors && userForm.get('email')?.touched" />
                    <div *ngIf="userForm.get('email')?.hasError('required')" class="invalid-feedback">O campo e-mail é obrigatório</div>
                    <div *ngIf="userForm.get('email')?.hasError('email')" class="invalid-feedback">O e-mail deve ser válido</div>
                    <div *ngIf="userForm.get('email')?.hasError('minLength')" class="invalid-feedback">O e-mail deve ter pelo menos 3 caracteres</div>
                    <div *ngIf="userForm.get('email')?.hasError('maxlength')" class="invalid-feedback">O e-mail deve ter no máximo 50 caracteres</div>
                </div>
                <div class="form-group mb-4">
                    <label class="mb-1" for="password">Senha</label>
                    <input class="form-control" id="password" name="password" type="password" formControlName="password" [class.is-invalid]="userForm.get('password')?.errors && userForm.get('password')?.touched" />
                    <div *ngIf="userForm.get('password')?.hasError('required')" class="invalid-feedback">O campo senha é obrigatório</div>
                    <div *ngIf="userForm.get('password')?.hasError('minLength')" class="invalid-feedback">A senha deve ter pelo menos 3 caracteres</div>
                    <div *ngIf="userForm.get('password')?.hasError('maxlength')" class="invalid-feedback">A senha deve ter no máximo 50 caracteres</div>
                </div>
                <div class="form-group">
                    <button [disabled]="!userForm.valid" (click)="submitForm()" class="btn btn-dark btn-block">Entrar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>