<div class="text-center mt-3 mb-5 bg-dark text-light rounded-full">
    <div class="d-flex justify-content-between p-4 align-items-center">
        <div>
            <a routerLink="/admin/users">
                <img src="./assets/images/logo.png" alt="Logo" class="img-fluid" width="150" />
            </a>
        </div>
        <div class="pt-2">
            <h6 class="text">
                <a class="menu-link" routerLink="/admin/users">Usuários</a>    
            </h6>
        </div>
        <div>
            <button class="btn btn-danger rounded-full" (click)="logout()">Sair</button>
        </div>
    </div>
</div>